<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><?=$blogs['title']?></title>
</head>
<body>
    <h1>智聊系统</h1>
    <div id="menu"></div>
    <h1><?=$blogs['title']?></h1>
    <p>浏览量：<span id="display"></span></p>
    <p><?=$blogs['content']?></p>
    <img id="praise" style="width:100px;cursor:pointer;border-radius: 50%;" src="/images/zan.jpg">
    <?php view('common.footer'); ?>
</body>
</html>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous">
</script>
<script>
    var id = "<?=$blogs['id']?>";
    var url = '/blog/display?id='+id;
    //  使用js实现页面浏览量实时显示
    $.ajax({
        type:'GET',
        url:url,
        dataType:'json',//声明服务器返回的是json数据
        success:function(data)
        {
            // console.log(data);
            //   将返回的浏览量放到页面中
            $('#display').html(data.display);
            //   定义一个 html
            var html = '<a href="/">首页</a>';
            if(data.email == '')
            {
                html += `<a href="/user/register">注册</a>
                <a href="/user/login">登录</a>`;
            }
            else
            {
                html += data.email + `<a href="/blog/index">日志列表</a>
                <a href="/blog/create">发表日志</a>
                <a href="/user/logout">退出</a>`;  
            }
            $('#menu').html(html);
        }
    });
    //  获取点赞状态
    $('#praise').click(function(){
        $.ajax({
            type:'POST',
            url:'/blog/agreement?id='+id,
            dataType:'json',
            success:function(data){
                if(data['status_code']==200)
                {
                    alert('点赞成功~');
                }
                else
                {
                    alert(data.message);
                }
            }
        });
    });
</script>