<script src="/simditor-2.3.6/scripts/jquery.min.js"></script>
<?php if(isset($_SESSION['_MESS_'])): ?>
<div id="MESS" style="width:100%;border:1px solid #25b952;background-color: antiquewhite;padding: 5px;"><?=$_SESSION['_MESS_']?></div>
<?php unset($_SESSION['_MESS_'])?>
<script>
    var m = document.getElementById('MESS');
    var seconds = 5;
    var se = setInterval(function(){
        seconds--;
        if(seconds==0)
        {
            m.style.display = 'none';
            clearInterval(se);
        }
    },1000);
</script>
<?php endif; ?>

<h1>智聊系统</h1>
<a href="/">首页</a>

<!-- 判断用户是否登录成功 -->
<?php if(@isset($_SESSION['id'])): ?>

    <a href="/user/pay">充值</a>
    <a href="/user/order">充值列表</a>
    <a href="/blog/index">日志列表</a>
    <a href="/blog/create">发表日志</a>
    <?php if(!isset($_SESSION['avatar'])):?>
        <img style="width:50px;height:50px;border-radius: 50%;vertical-align: middle;border: 1px solid #333;padding: 5px;" src="/images/avatar.jpeg" alt="">
    <?php else: ?>
        <img style="width:50px;height:50px;border-radius: 50%;vertical-align: middle;border: 1px solid #333;padding: 5px;" src="<?=$_SESSION['avatar']?>">
    <?php endif;?>
    
    <?= $_SESSION['email'] ?>
    <a href="">用户余额：</a>
    （<span style="color:red;font-weight: blod;"><?=$_SESSION['money']?></span> 元 ）
    <input id="balance" type="button" value="查看余额">
    <script>
        //  点击
        $('#balance').click(function(){
            //  使用AJAX  请求来改变div元素的文本
            $('span').load('/user/money');
        });
    </script>
    <a href="/user/avatar">上传头像</a>
    <a href="/user/avatars">我的相册</a>
    <a href="/user/bigfile">大文件上传</a>
    <a href="/user/excel">导出Excel格式</a>
    <a style="color:red;font-size: 1.2em;" href="/redbag/getPackage">抢红包</a>
    <a href="/user/logout">退出</a>

<?php else: ?>

    <a href="/user/register">注册</a>
    <a href="/user/login">登录</a>
    
<?php endif; ?>
<hr>
<script>

</script>