<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>上传大文件</title>
</head>
<body>
    <?php view('common.nav')?>
    <h1>上传大文件</h1>
    <!-- /user/doavatar -->
    <form action="/user/dobigfile" method="POST" enctype="multipart/form-data">
        <?=csrf();?>
        <input id="file" type="file" name="file">
        <br>
        <input type="submit" value="上传大文件">
    </form>
    <?php view('common.footer')?>
</body>
</html>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script>
    //   获取id
    var img = document.getElementById('file');
    img.onchange = function()
    {
        var img1 = img.files[0];
        //  获取文件大小
        var size = img1.size;
        //  设置每个片区的大小
        var perSize = 4098;
        //  计算一个图片有多少分区
        var count = Math.ceil(size/perSize);
        //  生成唯一的名字
        var name = "img_"+Math.random(10,99999);
        for(var i=0;i<count;i++)
        {
            //  图片数据
            var img0 = img1.slice(i*perSize,(i+1)*perSize);
            //  创建一个formdata对象
            var f = new FormData();
            //  加入表单中
            f.append('img0',img0);
            f.append('count',count);
            f.append('size',size);
            f.append('i',i);
            f.append('img_name',name);
            //  使用ajax发送请求
            $.ajax({
                type:"POST",
                url:"/user/upload",
                data:f,
                contentType: false,
                processData: false,
                success:function(data){

                }
            });
        }
    };
</script>